@import 'core/reset';
@import 'core/variables';
@import 'cover';
@import 'header';
@import 'background';
@import 'footer';
@import 'projects';
@import 'about';


@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Revonza';
  src: url('../fonts/Revonza.ttf') format('truetype');
}

.hidden {
  display: none;
}


