.footer {
    margin-top: 50px;
    background-color: #a89dbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
    }
}