.footer {
    height: 90vh;
    width: 100%;
    background-color: #a89dbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Revonza';
    letter-spacing: 2px;
    gap: 50px;
    flex-wrap: wrap;

    &__title {
        font-size: 2rem;
        border-bottom: 3px solid #95d3e0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        &--input {
            width: rem(220);
            height: max-content;
            background: transparent;
            border: #000;
            border-bottom: 3px solid #95d3e0;
            padding: 5px;
            padding-bottom: 20px;
            margin-bottom: 30px;

           &::placeholder {
                font-size: 1.2rem;
            }
        }

        &--submit {
            width: rem(250);
            padding: 10px;
            background-color: #95d3e0;
            border-radius: 50px;
            border: none;
            font-family: 'Comfortaa';
            font-size: 1rem;
            position: absolute;
            margin: 0 auto;
            right: 0;
            left: 0;
            cursor: pointer;
            transition: 300ms ease-out;
            &:hover {
                transform: scale(1.1);
                background-color: #a89dbc;
                border: 3px solid #95d3e0;
                transition: 300ms ease-in;
            }
        }
    }

    &__button {
        color: #95d3e0;
        background-color: transparent;
        border: none;
        padding: 10px;
        position: fixed;
        bottom: 5px;
        right: 10px;
        cursor: pointer;
        font-size: 1.3rem;
        animation: scrollUp 2000ms;
        &--projects {
           background-color: #a89dbc;
        }
    }
}

@keyframes scrollUp {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media all and (min-width: 768px) {
    .footer{
        &__form{
            &--input{
                width: rem(500);
            }

            &--submit {
                width: rem(300);
            }
        }


    &__button {
        font-size: 2rem;
    }
    }
}