.header {
  background-color: white;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &__list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-family: 'Revonza';
    font-size: 20px;
    letter-spacing: 2px;
    & > li > a {
      color: #a89dbc;

      &:hover{
        border-bottom: 3px solid #95d3e0;
      }
    }
  }}
