.header {
  background-color: white;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  &__burger {
    position: absolute;
    z-index: 1;
    right: 10px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    height: max-content;
    font-size: 1.7rem;
  }
    &__list {
      display: none;
  }
  &__nav{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    gap: 10px;
    border: 2px solid #95d3e0;
    border-radius: 10px;
    z-index: 1;
    font-size: 1.5rem;
    background-color: #a89dbc;
    font-family: 'Revonza';
    letter-spacing: 2px;
    margin-bottom: 10px;

    & a {
      color: white;
      cursor: pointer;
    }
   
}

}

@media all and(min-width: 768px) {
  .header {
    &__list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-family: 'Revonza';
    font-size: 20px;
    letter-spacing: 2px;
    & > li > a {
      color: #a89dbc;

      &:hover{
        border-bottom: 3px solid #95d3e0;
      }
    }
  }

  &__nav, & i{
    display: none;
  }
  }
}
