.projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Comfortaa';

    &__introduction {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__text {

    &--container {
        width: 550px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        background-color: #a89dbc;
        border-radius: 5px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    } 
}

    &__title {
        font-family: 'Revonza';
        letter-spacing: 2px;
        font-size: 2rem;
        border-bottom: 3px solid #95d3e0;
        width: max-width;
      
    }

&__list {
    display: flex;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 80%;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    overflow: hidden;
    
} 
&__li {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;

    &:hover .projects__name{
       transform: translateY(70%);
        transition: ease-in 300ms;
    }
}   
&__name {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-color: #a89dbc9e;
    font-size: 1.1rem;
    padding: 20px;
    transition: ease-out 300ms;
    transform: translateY(120%);

    &--iconGit{
        position: absolute;
        bottom: 10px;
        right: 5px;
        color: black;
        padding: 20px;
        font-size: 1.3rem;
        &:hover {
            color: white;
        }
    }

        &--iconLink{
        position: absolute;
        bottom: 10px;
        right: 40px;
        color: black;
        padding: 20px;
        font-size: 1.3rem;
        &:hover {
            color: white;
        }
    }
   
}

}
.showProjects {
    animation: showProjects 2000ms cubic-bezier(.25,.25,.75,.75) forwards;
    transition-delay: 3000ms;
    pointer-events: auto;
}
@keyframes showProjects {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
};